<div class="card mb-3">
    <div class="card-header d-flex justify-content-between align-items-center">
        <span><strong>@(QuestionNumber).</strong> @Question.Text </span>
        @if (IsEditable)
        {
            <div>
                <button type="button" class="btn btn-sm btn-warning" @onclick="OnEdit">Edit</button>
                <button type="button" class="btn btn-sm btn-danger" @onclick="OnDelete">Delete</button>
            </div>
        }
    </div>
    <div class="card-body">

        @if (Question.QuestionType != Models.QuestionType.OPEN)
        {
            foreach (var option in Question.ClosedQuestionOptions)
            {
                <div class="form-check">
                    @if (Question.QuestionType == Models.QuestionType.CLOSED_SINGLED)
                    {
                        <input class="form-check-input" type="radio" name="question_@QuestionNumber" value="@option.Id" @onchange="() => HandleRadioButtonChange(option)" disabled="@IsReadOnly">
                    }
                    else
                    {
                        <input class="form-check-input" type="checkbox" name="question_@QuestionNumber" value="@option.Id" @onchange="() => HandleCheckboxChange(option)" disabled="@IsReadOnly">

                    }
                    <label class="form-check-label" for="question_@QuestionNumber">
                        @option.TextOption
                    </label>
                </div>
            }
        }
        else
        {
            <input type="text" class="form-control" placeholder="Your answer..." @bind="Response.Text" disabled="@IsReadOnly" />
        }
    </div>
</div>